* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c0cb27;
  overflow: hidden;
}

video {
  width: 3240px;
  height: 3840px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

video.active {
  opacity: 1;
  transition: opacity 0.5s;
}

.main-video {
  opacity: 1;
}

.screensaver {
  z-index: 20;
  opacity: 1;
}