* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

video {
  width: 1080px;
  height: 2120px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: top 0.5s;
}

video.active {
  opacity: 1;
  transition: opacity 0.5s;
}